# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- List of popular languages for Data Science
- List of commonly used libraries
- Table of data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. Plotly
3. Numpy

|Data Science Tools|
|------------------|
|Jupyter Notebook / JupyterLab|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5 # This a simple arithmetic expression to mutiply then add integers

17

In [6]:
200/60 # This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Jasurbek